

<br/>
<div class="span6 offset0 smurfy text-center">


<h1 class='custom-h1'>
	<br/>
	The White City
</h1>

<br/>

<h2>
	Authority is not Given
</h2>

<br/>
<br/>
<%= link_to 'Valar Morgulis', 'pics/new', :class => 'btn btn-primary' %>

</div>
